<div *ngIf="!gameIsCreated; else gameOn">
  <div *ngIf="!user; else logged;">
    <p>login</p>
    <input [(ngModel)]="username_login" />
    <button (click)="logIn()">log</button>

    <p>create user</p>
    <input [(ngModel)]="username_create" />
    <button (click)="createUser()">create</button>
  </div>

  <ng-template #logged>
    <h1>Hello {{ user.username }}</h1>
    <h2>Online Player :</h2>
    <ul *ngFor="let u of filteredUsers$ | async">
      <ng-container *ngIf="u.id !== user.id">
        <li>{{u.id}} : {{u.username}} <button (click)="createGameWith(u.id)">VS</button></li>
      </ng-container>
    </ul>

    <h2>Match History :</h2>
    <ul *ngFor="let match of matchesHistory$ | async">
      <li>
        <!-- <div>Match ID: {{ match.id }}</div> -->
        <div>Payer1: {{ match.player1.id }}</div>
        <div>Payer2: {{ match.player2.id }}</div>
        <div>Winner: {{ match.winner.id }}</div>
        <div>Date: {{ match.date | date:'fullDate' }}</div>
      </li>
    </ul>
    <button (click)="createRandomGame()">Play Random Game</button>
  </ng-template>
</div>

<ng-template #gameOn>
  <app-game></app-game>
</ng-template>
