<div *ngIf="!gameIsCreated; else gameOn">
  <div *ngIf="!user; else logged;">
    <p>login</p>
    <input [(ngModel)]="username_login" />
    <button (click)="logIn()">log</button>

    <p>create user</p>
    <input [(ngModel)]="username_create" />
    <button (click)="createUser()">create</button>
  </div>

  <ng-template #logged>
    <h1>Hello {{ user.username }}</h1>
    <h2>Online Player :</h2>
    <ul *ngFor="let u of filteredUsers$ | async">
      <li>{{u | json}} <button (click)="createGameWith(u.id)">VS</button></li>
    </ul>

    <h2>Match History :</h2>
    <ul *ngFor="let match of user.matches">
      <li>
        <div>Match ID: {{ match.id }}</div>
        <div>Winner: {{ match.winner }}</div>
        <div>Date: {{ match.date | date }}</div>
      </li>
    </ul>
    <button (click)="createRandomGame()">Play Random Game</button>
  </ng-template>
</div>

<ng-template #gameOn>
  <app-game></app-game>
</ng-template>
